<br>
<h2>Report Request Form</h2>
<br>
Click here to read our report request guidelines!<br>
Fields denoted with an "*" are required to submit the form.

<%= render 'form', report: @report %>

<%= link_to 'Back', reports_path %>
